<div class="wrapper">
    <div class="intro">
        <h1>Set <span>Special </span>Meal</h1>
        <p>Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 60 minutes.</p>
    </div>
    <!-- category -->
    <div class="category">
        <div class="category-item active">
            <img src="../../../assets/images/Rectangle 12908.png" alt="">
            <h6>Korean Food</h6>
        </div>
        <div class="category-item">
            <img src="../../../assets/images/Rectangle 12908.png" alt="">
            <h6>Korean Food</h6>
        </div>
        <div class="category-item">
            <img src="../../../assets/images/Rectangle 12908.png" alt="">
            <h6>Korean Food</h6>
        </div>
    </div>

    <!-- list menu -->
    <div class="list-menu">
        <div class="item">
            <img src="" alt="">
            <h6>Jajangmyeon</h6>
            <img src="../../../assets/icons/Filled.svg" alt="">
        </div>
    </div>
</div>
