/* You can add global styles to this file, and also import other style files */


// root
$text-color: #777E90;
$primary-color: #04B90B;
$text-white: #FFFFFF;
$title-color: #23262F;




// reset css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: base_font;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: $text-color;
    
}


@font-face {
    font-family: title_font;
    src: url('./assets/fonts/Alice/Alice-Regular.ttf');
}
@font-face {
    font-family: base_font;
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}