<footer class="wrapper">
    <div class="left-footer">
        <img class="logo" src="../../../assets/images/Logo.png" alt="">
        <p>Explore your Taste with speacial food in the special place, that will make you happy. I try to write some thing without lorem isum.</p>
    </div>
    <div class="right-footer">
        <div class="col">
            <h5>Support</h5>
            <p>Help Centre</p>
            <p>Safety information</p>
            <p>Safety information</p>
            <p>Safety information</p>
        </div>
        <div class="col">
            <h5>Community</h5>
            <p>Customer Review</p>
            <p>Newsletter</p>
            
        </div>
        <div class="col">
            <h5>About</h5>
            <p>Our Chef</p>
            <p>Careers</p>
            <p>Blog</p>
            <p>Contact</p>
        </div>
    </div>
</footer>
