<p>add-product works!</p>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="name"  formControlName="name">
    <input type="file"  formControlName="image" accept="image/*" (change)="handleImageUpload($event)">
    <input type="number" placeholder="price"  formControlName="price">
    <input type="text" placeholder="flavor"  formControlName="flavor">
    <input type="text" placeholder="description"  formControlName="description">
    <input type="text" placeholder="note"  formControlName="note">
    <input type="text" placeholder="categoryId"  formControlName="categoryId">
    <button type="submit">Submit</button>
</form>
